services:
  frontend:
    build:
      context: ./frontend
    container_name: frontend_c
    ports:
      - "3000:3000"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    container_name: backend_c
    ports:
      - "4000:4000"
    environment:
      NODE_ENV: development
      MONGO_URI: mongodb://mongo:27017/idea_app
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0
    container_name: mongo_c
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
