
.add-quote-page {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: "Segoe UI", sans-serif;
}


.form-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 40px;
  background: rgb(165, 210, 235);
  box-shadow: 4px 0 20px rgba(0,0,0,0.1);
}


.quote-form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}


.quote-title {
  font-size: 1.8rem;
  color: black;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}


.quote-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.quote-form label {
  font-size: 1rem;
  color:black;
  font-weight: bold;
  text-align: left;
}


.quote-form select {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
  background: white;
  transition: 0.3s ease-in-out;
}

.quote-form select:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}


.quote-form textarea {
  padding: 12px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 1rem;
  background:white;
  resize: none;
  transition: 0.3s ease-in-out;
}

.quote-form textarea:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}


.submit-btn {
  padding: 12px;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  background: #2183f2;
  color: #fff;
  transition: transform 0.2s ease, background 0.3s ease;
}

.submit-btn:hover {
  transform: scale(1.05);
  background: #635bf7;
}


.image-right {
  flex: 1;
  overflow: hidden;
}

.image-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
